form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: blue;
  }

legend {
    color: blue;
    padding:  0.2em 0.5em;
}

input, textarea {
  background-color: #9de6a1;
}
