html {
  

  
  margin: auto;
  height: 100%;
  width: 100%;
  
}

body {


  h1{
    color: lightblue;
    text-align: center;
  }
  
  h3{
    color: lightblue;
    text-align: center;
  }
  
  p{
    color: lightblue;
    text-align: center;
  }

  h6{
    color: lightblue;
    text-align: center;
  }

  h4{
    color: lightblue;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  background-image: url("https://th.bing.com/th/id/OIP.7AMUJBZ2VnSEH_6VtzWDkgHaGB?w=222&h=180&c=7&r=0&o=5&pid=1.7")

   
  
}
